@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Noto+Sans:wght@600&display=swap');

$body-font-family: 'Noto Sans', sans-serif;
$info-font-family: 'Comfortaa', cursive;

$blue: #2874A6;
$outline: 1px solid #101010;
$panel-color: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));

// Mixins

@mixin flex ($justify, $align, $dir, $gap) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $dir;
	gap: $gap;
}
